.Post .main p,
.Post .main a {
  font-family: var(--font-secondary);
  font-size: var(--size-s);
}

.Post .post-nav {
  text-align: center;
}

.Post .main h2,
.Post .main h3,
.Post .main h4 {
  font-family: var(--font-secondary);
  margin-bottom: var(--text-spacing);
  font-weight: 600;
}

.Post .main h2::before {
  content: "# ";
  color: var(--color-primary);
}

.Post .main h3::before {
  content: "## ";
  color: var(--color-primary);
}

.Post .main h4::before {
  content: "### ";
  color: var(--color-primary);
}
