.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: var(--main-width);
  margin: 0;
  padding: 20px var(--main-margin);
  background-color: var(--color-light-transparent);
  font-size: var(--size-m);
}

.Navbar .logo {
  font-family: var(--font-primary);
}

@media (max-width: 450px) {
  .Navbar .logo {
    display: none;
    width: 0;
    height: 0;
  }
}

.linkGroup {
  font-family: var(--font-secondary);
  list-style-type: none;
  padding-left: 0px;
  margin: 0;
  text-transform: lowercase;
}

.link {
  display: inline;
  margin-left: 15px;
}

.link .active {
  border-bottom: 1px solid var(--color-primary);
  margin-bottom: 3px;
  padding-bottom: 3px;
}
