.ContentPage .header {
  text-align: center;
  margin-bottom: var(--block-spacing);
}

.ContentPage .heading {
  font-family: var(--font-primary);
  font-size: var(--size-h);
  line-height: 0.8;
}

.ContentPage .subheading {
  font-family: var(--font-secondary);
  font-size: var(--size-m);
  margin: 35px;
  text-transform: lowercase;
}

.ContentPage .links {
  grid-column: 1 / -1;
}

.ContentPage .main {
  grid-column: 1 / -1;
}

@media (min-width: 1080px) {
  .ContentPage .main {
    grid-column: 1 / span 8;
  }

  .ContentPage .links {
    grid-column: 1 / -1;
    /* grid-row: 2; */
  }
}

@media (min-width: 1200px) {
  .ContentPage .main {
    grid-column: 1 / span 8;
  }

  .ContentPage .links {
    grid-column: -4 / -1;
    /* grid-row: 1; */
  }
}

.ContentPage {
  margin-bottom: var(--block-spacing);
}
