.Markdown {
  font-family: var(--font-secondary);
  font-size: var(--size-s);
}

.Markdown > * {
  margin-bottom: var(--text-spacing);
}

.Markdown code {
  font-family: var(--font-primary);
  font-weight: 100;
  font-size: calc(var(--size-s) - 3px);
  /* white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word; */
}

.Markdown pre {
  border: solid 1px var(--color-primary);
  padding: var(--text-spacing);
  overflow-x: scroll;
}

/* Table Styling */

.Markdown .scrollable {
  overflow-x: scroll;
}

.Markdown table {
    margin: 0px 15px 15px 0px;
    border-spacing: 10px 5px;
    border-collapse: collapse;
    width: 100%;
    --table-padding: 3px;
}

.Markdown thead,
.Markdown tbody {
    border-bottom: solid 1px var(--color-primary-l);
}

.Markdown th {
    text-align: left;
    padding: var(--table-padding);
}

.Markdown tr:nth-child(even) {
    background-color: var(--color-primary-l);
}

.Markdown td {
    vertical-align: top;
    padding: var(--table-padding);
    min-width: 50px;
}

/* remove hljs default padding */
.Markdown .hljs {
  padding: 0px;
}

.Markdown .hljs-keyword {
  color: var(--color-code-1);
}

.Markdown .hljs-string {
  color: var(--color-code-3);
}

.Markdown .hljs-meta {
  color: var(--color-code-2);
}

.Markdown .hljs-title {
  color: var(--color-code-4);
}

.Markdown .hljs-attr {
  color: var(--color-code-3);
}

.Markdown blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: var(--text-spacing);
  border-left: 2px solid var(--color-primary);
}
