.Title .text {
  font-family: var(--font-secondary);
}

.Title .heading {
  font-family: var(--font-primary);
  font-size: 24px;
  margin-bottom: 5px;
}

@media (max-height: 630px) {
  .Title .hidden-small {
    display: none;
  }
}
