.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: var(--main-width);
  margin: 0;
  padding: 20px var(--main-margin);
  background-color: var(--color-light-transparent);
  font-size: var(--size-m);
  overflow-x: auto;
  --mobile-link-margin: 10px;
}

.Navbar .logo {
  font-family: var(--font-primary);
}

@media (max-width: 690px) {
  .Navbar .logo {
    display: none;
    width: 0;
    height: 0;
  }
}

.Navbar .linkGroup {
  font-family: var(--font-secondary);
  list-style-type: none;
  padding-left: 0px;
  margin: 0;
  text-transform: lowercase;
}


@media (max-width: 690px) {
  .Navbar .linkGroup:last-child {
    padding-right: calc(var(--mobile-link-margin) + var(--main-margin));
  }
}

.Navbar .link {
  display: inline;
  margin-left: 15px;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}


@media (max-width: 690px) {
  .Navbar .link {
    margin-left: var(--mobile-link-margin);
  }
}

.Navbar a {
  color: var(--color-secondary);
}

.Navbar .link .active {
  border-bottom: 1px solid var(--color-primary);
  margin-bottom: 3px;
  padding-bottom: 3px;
}

.Navbar .link .icon {
  height: 20px;
  width: 20px;
  margin-left: 4px;
  margin-bottom: -4px;
}