.Zwartkops {
  height: 100vh;
  margin-top: -70px;
  margin-bottom: var(--block-spacing);
  --row-count: 10;
  --grid-size: calc((100vh - 2 * var(--main-margin)) - (8 * 10px));
  --row-size: calc(var(--grid-size) / var(--row-count));
  overflow-y: hidden;
}

.Zwartkops .item-off-screen {
  opacity: 0.6;
}

.Zwartkops .item-on-screen {
  opacity: 1;
  transition: opacity 2s ease;
}
