.Sidebar .title {
  font-family: var(--font-primary);
  font-size: var(--size-m);
  margin-bottom: var(--block-spacing);
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: var(--text-spacing);
}

.Sidebar {
  grid-column: 1 / -1;
}

@media (min-width: 1080px) {
  .Sidebar {
    grid-column: -3 / -1;
  }
}

@media (min-width: 1200px) {
  .Sidebar {
    grid-column: -4 / -1;
  }
}
