.Sidebar .title {
  font-family: var(--font-primary);
  font-size: var(--size-m);
  margin-bottom: var(--block-spacing);
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: var(--text-spacing);
}