.Gallery {
  margin: var(--main-margin);
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(var(--row-count), var(--row-size));
  grid-template-columns: repeat(auto, var(--row-size));
  grid-auto-columns: var(--row-size);
  grid-gap: 10px;
  padding-right: var(--main-margin);
}

.Gallery img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
