@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:200|Nova+Mono&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  overflow-y: hidden;
}

body {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

:root {
  --font-primary: 'Nova Mono', monospace;
  --font-secondary: 'Montserrat Alternates', sans-serif;

  --color-primary: #e44d90;
  --color-secondary: #484848;
  --color-dark: #000000;

  --size-s: 16px;
  --size-m: 24px;
  --size-l: 48px;
  --size-h: 160px;

  --main-margin: 7%;
  --main-width: calc(100% - var(--main-margin) * 2);

  --row-count: 9;
  --grid-size: calc((100vh - 2 * var(--main-margin)) - (8 * 10px));
  --row-size: calc(var(--grid-size) / var(--row-count));
  --small-breakpoint: 630px;
}

/* unstyle links */

a {
  color: unset;
  text-decoration: unset;
}

a:hover {
  color: unset;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
