@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:200|Nova+Mono&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  scroll-behavior: smooth;
}

body {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

:root {
  --font-primary: "Nova Mono", monospace;
  --font-secondary: "Montserrat Alternates", sans-serif;

  --color-primary: #e44d90;
  --color-primary-l: #e44d9181;
  --color-secondary: #484848;
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-light-transparent: rgba(255, 255, 255, 0.9);

  --color-code-1: var(--color-primary);
  --color-code-2: #2d4654;
  --color-code-3: #fc7753;
  --color-code-4: #66d7d1;

  --size-s: 17px;
  --size-m: 20px;
  --size-l: 30px;
  --size-h: 60px;

  --grid-gap: 15px;

  --xsmall-breakpoint: 400px;
  --small-breakpoint: 690px;
  --medium-breakpoint: 1080px;
  --large-breakpoint: 1200px;

  --block-spacing: 65px;
  --text-spacing: 25px;
  --line-height: 15px;

  --main-margin: 5%;
  --top-margin: calc(65px + 10vh);
  --main-width: calc(100% - var(--main-margin) * 2);

  --scrollbar-width: 10px;
}

/* Dark mode */

body {
  background-color: var(--color-light);
  color: var(--color-dark);
}

.App {
  margin: var(--top-margin) var(--main-margin) 0 var(--main-margin);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #e44d90;
    --color-primary-l: #e44d9181;
    --color-secondary: #ffffff;
    --color-dark: #ffffff;
    --color-light: rgb(39, 39, 39);
    --color-light-transparent: rgba(36, 36, 36, 0.9);

    --color-code-2: var(--color-code-4);
  }
}

@media (min-width: 400px) {
  :root {
    --size-h: 60px;
  }
}

@media (min-width: 690px) {
  :root {
    --size-h: 110px;
    --main-margin: 7%;
  }
}

/* standard grid */

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: var(--grid-gap);
  grid-row-gap: var(--grid-gap);
}

@media (min-width: 690px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
}

/* image fill */

.fill {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* test */

p {
  line-height: 1.5;
}

/* heading */

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: normal;
}

/* unstyle links */

a {
  color: var(--color-primary);
  text-decoration: unset;
}

a:hover {
  color: unset;
}

/* selection */

*::selection {
  background: var(--color-primary-l);
}
*::-moz-selection {
  background: var(--color-primary-l);
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-width);
}

/* track */
::-webkit-scrollbar-track {
  background: var(--color-light);
}

/* handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary-l);
  border-radius: var(--scrollbar-width);
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}
