@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:200|Nova+Mono&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
}

body {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

:root {
  --font-primary: 'Nova Mono', monospace;
  --font-secondary: 'Montserrat Alternates', sans-serif;

  --color-primary: #e44d90;
  --color-secondary: #484848;
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-light-transparent: rgba(255, 255, 255, 0.9);

  --size-s: 16px;
  --size-m: 20px;
  --size-l: 48px;
  --size-h: 60px;

  --xsmall-breakpoint: 400px;
  --small-breakpoint: 690px;
  --medium-breakpoint: 1080px;
  --large-breakpoint: 1200px;

  --main-margin: 7%;
  --top-margin: calc(65px + 10vh);
  --main-width: calc(100% - var(--main-margin) * 2);
}

@media (min-width: 400px) {
  :root {
    --size-h: 80px;
  }
}

@media (min-width: 690px) {
  :root {
    --size-h: 110px;
  }
}

/* standard grid */

.grid {
  margin: var(--top-margin) var(--main-margin);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media (min-width: 690px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
}

/* image fill */

.fill {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* heading */

h1,
p {
  margin: 0;
  font-weight: normal;
}

/* unstyle links */

a {
  color: unset;
  text-decoration: unset;
}

a:hover {
  color: unset;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
