.ProjectItem {
  text-transform: lowercase;
  margin-bottom: var(--block-spacing);
  width: 100%;
}

@media (min-width: 690px) {
  .ProjectItem {
    width: calc(50% - var(--grid-gap));
  }
}

.ProjectItem .summary {
  margin-top: calc(var(--text-spacing) / 2);
}

.ProjectItem .tech {
  margin: 0;
  padding: 0;
}

.ProjectItem .title {
  font-family: var(--font-secondary);
  font-size: var(--size-l);
  margin-bottom: var(--text-spacing);
}

.ProjectItem .tech .item {
  display: inline;
  white-space: nowrap;
  font-family: var(--font-primary);
  font-size: var(--size-s);
  padding-right: var(--size-s);
}

.ProjectItem .tech .item::before {
  content: '';
  display: inline-block;
  position: relative;
  height: calc(0.7 * var(--size-s));
  width: calc(0.7 * var(--size-s));
  border-radius: 50%;
  background-color: var(--color-primary);
  margin-right: calc(var(--size-s) / 2);
}

.ProjectItem .summary {
  font-family: var(--font-secondary);
  font-size: var(--size-s);
}

.ProjectItem .description {
  margin-bottom: var(--text-spacing);
}

.ProjectItem .link {
  color: var(--color-primary);
}
