.SocialIcons {
  text-align: center;
}

.SocialIcons .icon {
  display: inline-block;
  text-align: center;
  height: 35px;
  width: 35px;
  margin: 0 5px;
  background-color: transparent;
  border-radius: 50%;
}

@media (min-width: 1080px) {
  .SocialIcons .icon {
    width: 45px;
    height: 45px;
  }
}
